body {
  background-color: red;
}

header {
  border-top: 2px solid #3498db;
  background-color: #0b3c7a;
  color: white;
  text-align: center;
  padding: 1.25rem;
}

h1 {
  padding: 00px 0;
  text-align: center;
}

nav {
  text-align: left;
  font-family: helvetica;
  font-size: 1.1em;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: black;
}
